//Global styles and changing bulma variables

//Import a Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$famili-sas-serif: "Nunito", sans-seriff;

//Update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;


/*GLOBAL STYLES*/
html, body{
    height:100%;
}
html{
    background-image: url('./assets/background.svg');
    background-size: cover;

    overflow-y: auto !important;
}